@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LaBelle';
    src: url('../fonts/LaBelleAurore-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@layer components {
    .container-layout {
        @apply flex bg-gray-100 justify-center items-center h-full w-full snap-start
    }
}